<div style="border: 3px solid silver;">
    {% load menu %}
    {% with url_name=child.url_name %}
        <a href="{% url url_name %}">{{ child.display_name }}</a>
    {% endwith %}
    <div style="margin-left: 10px;">
        {% url child.url_name as child_url %}
        {% url_in_uri child_url request.build_absolute_uri as display_grandchildren%}
        {% if display_grandchildren %}
            {% for grandchild in child.all_children %}
                {% render_menu_child request grandchild %}
            {% endfor %}
        {% endif %}

    </div>
</div>